@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Area</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var continent in Model.Continents)
    {
      <tr>
        <td>@continent.Name</td>
        <td>@continent.Area</td>
      </tr>
    }
  </tbody>
</table>